@import "../../assets/styles/vars";

.reactTableSect {
	display: flex;
	justify-content: space-between;
	padding: 32px 64px;
	background-color: $bg;

	&__radioBlock {
		margin-right: 24px;
	}
}

.radioBlock {
	&__radio {
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.reactTable {
	width: 100%;
	max-width: 920px;

	th,
	td {
		text-align: right;

		&:first-child {
			text-align: left;
		}
	}

	td {
		width: 12.83%;
		padding: 18px 0;
		font-family: "Roboto", sans-serif;
		font-size: 20px;
		line-height: 28px;
		font-weight: 500;
		letter-spacing: 0.15px;
		color: $gray;
		border-bottom: 1px solid $border;

		&:first-child {
			width: 35.87%;
			color: $text;
		}
	}

	tr {
		&:last-child {
			td {
				border-bottom: none;
			}
		}
	}

	tfoot {
		tr {
			td {
				padding: 0 0 0 32px;

				&:first-child {
					padding: 0;
				}
			}
		}
	}
}

.th {
	position: relative;
	padding: 12px 0 12px 24px;
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #919699;
	border-bottom: 2px solid $border;

	&_sorted {
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 14px;
			display: block;
			width: 5px;
			height: 5px;
			transition: border-color 0.2s ease;
		}

		&:first-child {
			&::before,
			&::after {
				left: 3px;
			}
		}

		&::before {
			transform: translateY(-8px) rotate(-45deg);
			border-top: 2px solid #c6cacc;
			border-right: 2px solid #c6cacc;
		}

		&::after {
			transform: rotate(45deg);
			border-bottom: 2px solid #069697;
			border-right: 2px solid #069697;
		}

		&_up {
			&::after {
				border-color: #c6cacc;
			}

			&::before {
				border-color: #069697;
			}
		}
	}
}
