@import "../../assets/styles/vars";

.radioBtn {
	$p: &;

	&__label {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 56px;
		padding: 5px;
		font-family: "Roboto", sans-serif;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		letter-spacing: 0.44px;
		background-color: #fff;
		color: $gray;
		border: 1px solid transparent;
		border-bottom: none;
		border-radius: 4px 4px 0px 0px;
		cursor: pointer;
		transition: color 0.2s ease, border-color 0.2s ease;
	}

	&__input {
		display: none;

		&:checked + #{$p}__label {
			color: $text;
			border-color: #c6cacc;
		}
	}
}
